@charset "utf-8";

/* リセットCSS */

html{
    overflow-y: scroll;
}
body, div, dl, dt, dd, ul, ul li, h1, h2, h3, h4, h5, h6,
pre, form, fieldset, input, textarea, p, blockquote, th, td,
section, nav, article, aside, hgroup, header, address,
figure, figcaption {
	margin: 0;
	padding: 0;
}
ul li {
	list-style-type: none;
}
img{
    vertical-align: bottom;
}
a{
    text-decoration: none;
}
b{
    font-size: 18px;
}
i{
    font-size: 70px;
}

/* フルードイメージ対応 */

img {
	max-width: 100%;
	height: auto;
}
#container {
	width: 100%;
	max-width: 639px;
	margin: 0 auto;
}

/* ------ Column（箱とかの並べ方） ------ */

.row {
	max-width: 639px;
	margin: 0 auto;
}

.side-by-side{
    display: block;
}

.one-third {width: 100%;}
.two-third {width: 100%;}

h1,h2,h3{
    text-align: center;
}
h2{
    padding-top: 50px;
    padding-bottom: 70px;
    font-size: 60px;
    letter-spacing: 0.05em;
    color: #94c9cc;
}

/* ------ mobile or pc ------ */

.mobile{
    display: block;
}
.pc{
    display: none;
}

/* ------ Header ------ */

#header{
    height: 0;
    display: block;
}
.left{
    margin: 0 auto;
	padding-top: 20px;
}
.g-nav{
	margin: 0 auto;
	padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.g-nav li{
    font-size: 20px;
    letter-spacing: 0.05em;
}
.g-nav li a{
    color: #6fa2a5;
}

/* ------ Main title ------ */

.maintitle{
    height: 600px;
}
h1{
    padding-top: 270px;
    padding-bottom: 20px;
    font-size: 370%;
    letter-spacing: 0.05em;
    color: #94c9cc;
}
.maintitle p{
    padding-bottom: 30px;
    font-size: 40px;
    text-align: center;
    color: #94c9cc;
}

/* ------ About ------ */

.about{
    height: 1100px;
}
.about .one-third{
	width: 60%;
	margin: 0 auto;
	padding-bottom: 40px;
}
.two-third table{
	margin: 0 auto;
}
h4{
    padding-bottom: 30px;
    padding-left: 0;
	text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: #555;
}
h4 small{
    font-size: 70%;
    font-weight: 200;
}
.about th,.about td{
	font-size: 90%;
    padding-bottom: 10px;
    padding-left: 0;
    color: #555;
}
.about th{
	width: 60px;
}
.img_about{
    padding-left: 0;
}
.mobile p{
    padding-top: 8px;
}

/* ------ Skills ------ */

.skills{
    height: 2200px;
}
.skills .one-third{
    width: 90%;
	margin: 0 auto;
}
.skills .one-third img{
	width: 60%;
	display: block;
	margin: auto;
}
h3{
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 24px;
    color: #444;
}
.mobile h4{
    padding-bottom: 10px;
}
.mobile p{
    padding-left: 5px;
    padding-bottom: 0;
    color: #444;
}
section{
    margin-bottom: 120px;
}

/* ------ Works ------ */

.works{
    height: 1400px;
}
.works .side-by-side{
	display: flex;
	justify-content: space-around;
}
.grid-outer{
    flex-wrap: wrap;
}
.grid-inner{
	width: 45%;
	margin-bottom: 20px;
}

/* ------ Contact ------ */

.contact{
    height: 650px;
}
.sns_2{
    display: none;
}
.ico-x, .ico-f, .ico-i{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
.ico-x p, .ico-f p, .ico-i p{
    text-align: left;
    padding-left: 20px;
}

/* ------ Footer ------ */

footer{
    height: 100px;
}
.f-nav ul{
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
}
.f-nav li{
    font-size: 20px;
    letter-spacing: 0.05em;
}
.f-nav li a{
    color: #6fa2a5;
}
.f-nav li a:hover{
    border-bottom: 2px solid #6fa2a5;
    padding-bottom: 6px;
    text-decoration: none;
}
.btn-top{
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}
