@charset "utf-8";

/* リセットCSS */

html{
    overflow-y: scroll;
}
ul li {
	list-style-type: none;
}
body, div, dl, dt, dd, ul, ul li, h1, h2, h3, h4, h5, h6,
pre, form, fieldset, input, textarea, p, blockquote, th, td,
section, nav, article, aside, hgroup, header, address,
figure, figcaption {
	margin: 0;
	padding: 0;
}
img{
    vertical-align: bottom;
}
a{
    text-decoration: none;
}
i{
    font-size: 100px;
    color: #2f6291;
}

/* フルードイメージ対応 */

img {
	max-width: 100%;
	height: auto;
}
body {
 	background-image: url(../images/bg-top.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
#container {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}

/* ------ Column（箱とかの並べ方） ------ */

.row {
	max-width: 980px;
	margin: 0 auto;
}

.side-by-side{
    display: flex;
    justify-content: space-between;
}

.one-third {width: 30%;}
.two-third {width: 65%;}

h1,h2,h3{
    text-align: center;
}
h2{
    padding-top: 50px;
    padding-bottom: 70px;
    font-size: 60px;
    letter-spacing: 0.1em;
    color: #94c9cc;
}

/* ------ mobile or pc ------ */

.mobile{
    display: none;
}

/* ------ Header ------ */

#header{
    height: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{
    width: 180px;
}
.g-nav{
    width: 370px;
    display: flex;
    justify-content: space-between;
}
.g-nav li{
    font-size: 20px;
    letter-spacing: 0.05em;
}
.g-nav li a{
    color: #6fa2a5;
}

.g-nav li a:hover{
    border-bottom: 2px solid #6fa2a5;
    padding-bottom: 7px;
    text-decoration: none;
}

/* ------ Main title ------ */

.maintitle{
    height: 700px;
}
h1{
    padding-top: 220px;
    padding-bottom: 30px;
    font-size: 80px;
    letter-spacing: 0.1em;
    color: #94c9cc;
}
.maintitle p{
    padding-bottom: 30px;
    font-size: 50px;
    text-align: center;
    color: #94c9cc;
}

/* ------ About ------ */

.about{
    height: 700px;
}
h4{
    padding-bottom: 20px;
    padding-left: 40px;
    font-size: 30px;
    font-weight: 500;
    color: #555;
}
h4 small{
    font-size: 70%;
    font-weight: 200;
}
.about th,.about td{
    padding-bottom: 8px;
    padding-left: 40px;
    color: #555;
}
.img_about{
    padding-left: 20px;
}

/* ------ Skills ------ */

.skills{
    height: 900px;
}
.skills .one-third{
    width: 25%;
}
h3{
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 20px;
    color: #555;
}
.skills table{
    margin: 0 auto;
}
.skills th{
    padding-bottom: 6px;
    padding-right: 15px;
    text-align: left;
    color: #555;
}
.skills td{
    color: #555;
}
.skills p{
    padding-top: 30px;
    font-size: 95%;
    color: #555;
}

/* ------ Works ------ */

.works{
    height: 1350px;
}
.grid-outer{
    flex-wrap: wrap;
}
.grid-inner{
    margin-bottom: 50px;
}
.grid-inner img:hover{
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.2);
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
    opacity: 0.9;
}

/* ------ Contact ------ */

.contact{
    height: 600px;
}
.sns_2{
    width: 700px;
    padding-top: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.sns_2 li{
    width: 28%;
}
.sns_2 li p{
    padding-top: 20px;
    color: #555;
}

/* ------ Footer ------ */

footer{
    height: 42px;
}
.f-nav ul{
    width: 340px;
    display: flex;
    justify-content: space-between;
}
.f-nav li{
    font-size: 18px;
    letter-spacing: 0.05em;
}
.f-nav li a{
    color: #6fa2a5;
}
.f-nav li a:hover{
    border-bottom: 2px solid #6fa2a5;
    padding-bottom: 6px;
    text-decoration: none;
}
.btn-top{
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}
.btn-top:hover{
    border-bottom: 2px solid #fff;
    text-decoration: none;
}

/* ------ Thumbnail ------ */

.grid-inner_2{
    margin-bottom: 30px;
}