@charset "utf-8";

hrml{
    overflow-y: scroll;
}
body, div, dl, dt, dd, ul, ul li, h1, h2, h3, h4, h5, h6,
pre, form, fieldset, input, textarea, p, blockquote, th, td,
section, nav, article, aside, hgroup, header, address,
figure, figcaption {
	margin: 0;
	padding: 0;
}
ul li {
	list-style-type: none;
}
img{
    vertical-align: bottom;
}

/* フルードイメージ対応 */

img {
	max-width: 100%;
	height: auto;
}

body {
	background-color: #eee;
}

#container {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.1);
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
    background-color: #fff;
}

/* ------ Column ------ */

.row {
	max-width: 980px;
	margin: 0 auto;
}

.one-fifth {width: 22%;}
.four-fifth {width: 78%;}
.one-third {width: 30%;}
.two-third {width: 66%;}

/* ------ Header ------ */

header {
	width: 100%;
}

#header{
    height: 123px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    width: 85%;
    padding-left: 25px;
}

/* ------ Global Navi ------ */

#g-nav{
    display: flex;
    justify-content: space-between;
    padding: 0 34px;
}

#g-nav li {
	width: 40px; /* img = w:h=2:5 = 40px:100px */
	height: 50px;
	overflow: hidden;
	vertical-align: top;
}
#g-nav li a {
	display: block;
	width: 40px;
	height: 50px;
}
#g-nav li a:link,
#g-nav li a:visited{
	margin-top: 0;
}
#g-nav li a:hover,
#g-nav li a:active,
#g-nav li a.current,
#g-nav #on {
	margin-top: -50px;
}

/* ------ contents ------ */

h2{
    display: block;
    padding: 29px 0 29px 0;
    font-size: 22px;
    color: #c06;
    text-align: center;
}
.p-main{
    padding: 62px 0 92px 0;
    font-size: 16px;
    text-align: center;
    line-height: 2;
}
.outer{
    display: flex;
    justify-content: space-between;
    padding-bottom: 78px;
}

.inner_1{width: 52%;}
.inner_2{width: 48%;}

.shop{
    font-family: serif;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 20px 0 16px 0;
}
.text_1{
    padding-left: 10px;
}
.text_2{
    font-size: 14px;
    line-height: 2;
    padding: 10px 30px 0 30px;
}
.green{
    background-color: #0a0;
}
.orange{
    background-color: #f80;
}
.blue{
    background-color: #36e;
}
.red{
    background-color: #f33;
}
.shop-link{
    font-family: serif;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    width: 217px;
    display: block;
    margin: 15px auto;
    padding: 6px 0;
    text-align: center; 
    border-radius: 10px;
    text-decoration: none;
}
.shop-link:hover{
    opacity: 0.7;
}

/* ------ footer ------ */

footer{
    height: 355px;
    background-color: #aaa;
}
#footer{
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}
#footer ul li{
    display: inline-block;
}

#f-nav{
    padding: 60px 0 0 68px;
}
#f-nav li{
    padding-right: 20px;
}
#f-nav li a{
    color: #fff;
    text-decoration: none;
    padding-bottom: 4px;
}
#f-nav li a:hover{
    border-bottom: 2px solid #fff;
}

#ico{
    padding-top: 50px;
}
#ico li{
    padding-right: 40px;
}
#ico li img{
    width: 40px;
}

footer p{
    text-align: center;
    margin-top: 30px;
}
footer p img{
    width: 320px;
}
small{
    font-size: 12px;
    color: #fff;
}

/* ------ タブレット対応 ------ */

@media screen and (max-width:979px) {

    .row{
        padding: 0 10px;
    }
    footer{
        height: 355px;
        background-color: #aaa;
    }
    #footer{
        display: flex;
        justify-content: space-between;
        padding-bottom: 60px;
    }
    #footer ul li{
        display: inline-block;
    }
    
    #f-nav{
        padding: 60px 0 0 20px;
    }
    #f-nav li{
        padding-right: 20px;
    }
    #f-nav li a{
        color: #fff;
        text-decoration: none;
        padding-bottom: 4px;
    }
    #f-nav li a:hover{
        border-bottom: 2px solid #fff;
    }
    
    #ico{
        padding-top: 50px;
    }
    #ico li{
        padding-right: 30px;
    }
    #ico li img{
        width: 40px;
    }
    
    footer p{
        text-align: center;
        margin-top: 30px;
    }
    footer p img{
        width: 320px;
    }
    small{
        font-size: 12px;
        color: #fff;
    }

}

/* ------ スマートフォン対応 ------ */

@media screen and (max-width:640px) {

    .one-fifth {width: 100%;}
    .four-fifth {width: 100%;}
    .row{
        padding: 0 20px;
    }
    #header{
        display: block;
        padding-bottom: 40px;
    }
    #header h1{
        text-align: center;
        padding: 20px 0;
    }
    #logo{
        width: 60%;
        padding-left: 0px;
    }
    #g-nav{
        padding: 0 20px;
    }


    h2{
        padding-bottom: 10px;
    }
    .text_1{
        padding-left: 10px;
        padding-right: 10px;
    }
    .text_2{
        line-height: 1.7;
        padding: 10px 30px 0 30px;
    }


    footer{
        height: 350px;
        background-color: #aaa;
    }
    #footer{
        display: block;
        padding-bottom: 40px;
    }
    #f-nav{
        padding: 30px 0;
        text-align: center;
    }
    #f-nav li{
        display: inline-block;
        padding: 10px;
    }
    #f-nav li a{
        color: #fff;
        text-decoration: none;
        padding-bottom: 4px;
    }
    #f-nav li a:hover{
        border-bottom: 2px solid #fff;
    }
    #ico{
        padding-top: 10px;
        text-align: center;
    }
    #ico li{
        padding: 0 20px;
    }
    #ico li img{
        width: 40px;
    }
    footer p{
        text-align: center;
        margin-top: 30px;
    }
    footer p img{
        width: 320px;
    }
    small{
        font-size: 12px;
        color: #fff;
    }

}